# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
 
# Dependency directories
node_modules/
 
# Build output
dist/
dist-ssr/
 
# Local files
*.local
 
# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
 
# Environment variables
# Ignore all .env files in any directory
**/.env
**/.env.*
# but do not ignore example files
!.env.example
 
# Prisma / Generated code
# Ignore Prisma-generated client and migrations inside the server directory
server/generated/
server/prisma/migrations/
